<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="header-footer::header">
    <!-- meta data -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

</head>
<body>
<div th:include="/header-footer::nav"></div>
<div class="container row">
    <div class="col col-lg-4 image-holder">
        <img src="/images/hlb.jpg" alt="">
    </div>
    <div class="col col-lg-6">
        <div>
            <h3 style="margin-top: 20px; margin-bottom: 20px; text-align: center" >Thông tin cá nhân</h3>
        </div>
        <fieldset>
            <div>
                <label>Họ và tên:</label>
                <label th:text="${account.employeeName}"></label>
            </div>
            <div>
                <label>Email:</label>
                <label th:text="${account.accountEmail}"></label>
            </div>
            <div>
                <label>Giới tính:</label>
                <label th:if="${account.employeeGender == 0}" >Nữ</label>
                <label th:if="${account.employeeGender == 1}" >Nam</label>
                <label th:if="${account.employeeGender == 2}" >LGBT</label>
            </div>
            <div>
                <label>Căn cước công dân:</label>
                <label th:text="${account.employeeIdCard}"></label>
            </div>
            <div>
                <label>Số điện thoại:</label>
                <label th:text="${account.employeePhone}"></label>
            </div>
        </fieldset>
    </div>
    <div class="col col-lg-2 image-holder">
        <img th:src="${account.employeeImg}" class="img-fluid" th:alt="${account.employeeName}">
    </div>
</div>
<div th:replace="/header-footer::footer"></div>
<footer th:replace="/header-footer::footer-libs"></footer>

</body>
</html>