<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header-footer::header">
    <meta charset="UTF-8">
    <title>Title</title>
    <!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">-->
</head>
<body>
<style>
    input[type="file"] {
        display: none;
    }
</style>
<div th:include="/header-footer::nav"></div>

<div id="create-tour" class="container mt-3 border border-3 rounded p-2">
    <h1>THÊM MỚI CHUYẾN ĐI</h1>
    <div id="board">
        <form class="mx-4" method="post" th:object="${tour}" id="submit-form">
            <div class="mb-3">
                <!--        <label for="id" class="form-label">Product ID: </label>-->
                <!--                <input type="hidden" class="form-control" placeholder="Enter ID" id="id" th:field="*{id}">-->
                <!--            <input type="hidden" class="form-control" placeholder="" id="date" th:field="*{date}" th:text="${localDate}">-->
            </div>

            <div class="div-element">
                <label for="name" class="form-label">Điểm tham quan: </label>
                <input type="text" class="form-control" id="name" th:field="*{tourName}">
                <div style="color: #d81212e8" class="form-text" th:if="${#fields.hasErrors('tourName')}"
                     th:errors="*{tourName}">Tour name
                </div>
            </div>

            <div id="date" class="div-element in-one-line">
                <div>
                    <label for="startDate" class="form-label">Ngày khởi hành:</label>
                    <input type="date" class="form-control" id="startDate" th:field="*{startDate}">
                    <div style="color: #d81212e8" class="form-text" th:if="${#fields.hasErrors('startDate')}"
                         th:errors="*{startDate}"></div>
                    <div style="color: #d81212e8" id="start" class="form-text"></div>
                </div>
                <div>
                    <label for="endDate" class="form-label">Ngày kết thúc:</label>
                    <input type="date" class="form-control" id="endDate" th:field="*{endDate}">
                    <div style="color: #d81212e8" class="form-text" th:if="${#fields.hasErrors('endDate')}"
                         th:errors="*{endDate}"></div>

                    <div style="color: #d81212e8" id="end" class="form-text"></div>
                </div>
                <button onclick="checkDate()" type="button">Click</button>
            </div>

            <!--            Binding Value Employee-->
            <div class="div-element in-one-line">
                <div>
                    <label for="startDate" class="form-label">Tên nhân viên:</label>
                    <input type="text" class="form-control" readonly id="employeeName">
                    <input type="text" class="form-control" readonly th:field="*{accountId}" id="accountId">
                    <!--                    <div style="color: #d81212e8" class="form-text" th:if="${#fields.hasErrors('startDate')}"-->
                    <!--                         th:errors="*{startDate}"></div>-->
                    <!--                    <div style="color: #d81212e8" id="start" class="form-text"></div>-->
                </div>
            </div>

            <div id="price" class="div-element in-one-line">
                <div>
                    <label for="seat" class="form-label">Số lượng (người):</label>
                    <input type="number" class="form-control" id="seat" th:field="*{tourAvailableSeat}">
                    <div style="color: #d81212e8" class="form-text" th:if="${#fields.hasErrors('tourAvailableSeat')}"
                         th:errors="*{tourAvailableSeat}"></div>
                </div>
                <div>
                    <label for="adultPrice" class="form-label"> Giá vé người lớn: </label>
                    <input type="number" class="form-control" id="adultPrice" th:field="*{adultPrice}">
                    <div style="color: #d81212e8" class="form-text" th:if="${#fields.hasErrors('adultPrice')}"
                         th:errors="*{adultPrice}"></div>
                </div>

                <div>
                    <label for="childPrice" class="form-label">Giá vé trẻ em:</label>
                    <input type="number" class="form-control" id="childPrice" th:field="*{childPrice}">
                    <div style="color: #d81212e8" class="form-text" th:if="${#fields.hasErrors('childPrice')}"
                         th:errors="*{childPrice}"></div>
                </div>
            </div>

            <div class="div-element">
                <label for="description" class="form-label">Mô tả chi tiết: </label>
                <textarea class="form-control" id="description" th:field="*{tourDescription}"></textarea>
                <div style="color: #d81212e8" class="form-text" th:if="${#fields.hasErrors('tourDescription')}"
                     th:errors="*{tourDescription}"></div>
            </div>

            <!--            Upload ảnh-->
            <div class="mb-3">
                <div hidden th:each="book, itemStat : *{imageUrls}">
                    <input th:field="*{imageUrls[__${itemStat.index}__]}" th:id="'image-' + ${itemStat.index}"/>
                </div>

                <div class="form-outline mb-4">
                    <input class="form-control" accept=".png, .jpg, .jpeg" style="display: none" type="file"
                           id="input-ref" multiple onchange="handlePreviewImage(this)"/>
                    <button class="btn btn-outline-primary" type="button"
                            onclick="document.getElementById('input-ref').click();">Chọn tệp
                    </button>

                    <!--                <input class="form-control" type="file" id="input-ref" multiple onchange="handlePreviewImage(this)"/>-->
                </div>
                <div id="preview-root"></div>
                <!--                <div style="color: darkred" class="form-text" th:if="${#fields.hasErrors('imageUrls')}" th:errors="*{imageUrls}"></div>-->
            </div>
            <div id="create-btn" class="text-center">
                <button type="submit" id="btn-upload" class="btn btn-outline-dark my-3">LƯU</button>
            </div>
            <hr>

            <div style="display: none" id="modal-btn"
                 class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
            </div>
        </form>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                <table border="1" class="table table-striped">
                    <thead>
                    <tr>
                        <th>Số thứ tự</th>
                        <th>Tên nhân viên</th>
                        <th>Số điện thoại</th>
                        <th>Email</th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<script>
    CKEDITOR.replace("description")
</script>

<div th:replace="/header-footer::footer"></div>
<footer th:replace="/header-footer::footer-libs"></footer>
<script src="https://www.gstatic.com/firebasejs/7.7.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.7.0/firebase-storage.js"></script>
<script src="../handler/firebase.js"></script>
<script type="module" src="../handler/upload.js"></script>
<script>
    function checkDate() {
        let startDate = document.getElementById("startDate").value;
        let endDate = document.getElementById("endDate").value;
        let curDate = new Date();
        curDate = curDate.toISOString().split('T')[0];
        console.log(curDate);
        let startDateError = document.getElementById("start");
        let endDateError = document.getElementById("end");
        let stringStartError = "Vui lòng nhập ngày khởi hành";
        let stringEndError = "Vui lòng nhập ngày kết thúc";
        startDateError.innerText = "";
        endDateError.innerText = "";

        switch (true) {
            case !startDate && !endDate:
                startDateError.innerText = "Vui lòng nhập ngày khơi hành";
                endDateError.innerText = "Vui lòng nhập ngày kết thúc";
                return;
            case !startDate && endDate < curDate:
                startDateError.innerText = "Vui lòng nhập ngày khơi hành";
                endDateError.innerText = "Vui lòng không nhập ngày ở quá khứ";
                return;
            case !endDate && startDate < curDate:
                startDateError.innerText = "Vui lòng không nhập ngày ở quá khứ";
                endDateError.innerText = "Vui lòng nhập ngày kết thúc";
                return;
            case  startDate < curDate && endDate < curDate:
                startDateError.innerText = "Vui lòng không nhập ngày ở quá khứ";
                endDateError.innerText = "Vui lòng không nhập ngày ở quá khứ";
                return;
            case startDate < curDate:
                startDateError.innerText = "Vui lòng không nhập ngày ở quá khứ";
                return;
            case startDate > endDate:
                endDateError.innerText = "Vui lòng nhập ngày khởi hành lớn hơn ngày kết thúc";
                return;
        }
        showEmployeeList(startDate, endDate);
    }

    function showEmployeeList(startDate, endDate) {
        $.ajax({
            url: `http://localhost:8080/show-list-employee?startDate=${startDate}&endDate=${endDate}`,
            type: "GET",
            dataType: "json",
            success: function (data) {
                $("tbody").empty();
                let tr = [];
                for (let i = 0; i < data.length; i++) {
                    tr.push("<tr>");
                    tr.push("<td>" + (i + 1) + "</td>");
                    // tr.push("<td>" + data[i].accountId + "</td>");
                    tr.push("<td>" + data[i].employeeName + "</td>");
                    tr.push("<td>" + data[i].phoneNumber + "</td>");
                    tr.push("<td>" + data[i].email + "</td>");
                    tr.push(`<td><button type="button" class="btn btn-default" data-dismiss="modal" onclick="bindingValue(${data[i].accountId},'${data[i].employeeName}')">Chọn</button></td>`);
                    tr.push("</tr>");
                }
                $("table").append(tr.join(""));
            }
        })
        document.getElementById("modal-btn").click();
    }

    function bindingValue(id, name) {
        document.getElementById("employeeName").value = name;
        document.getElementById("accountId").value = id;
    }
</script>
</body>
</html>