<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header-footer::header">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:include="/header-footer::nav"></div>
<div id="booking" class="container">
    <h1><i class='bx bx-chevron-left'></i> Quay lại</h1>
    <div class="tour_description d-flex">
        <div id="booking-information" class="col-lg-6">
            <div id="voucher">

            </div>
            <div>

            </div>
        </div>
        <div id="tour-information" class="col-lg-6">
            <div id="board">
                <div class="col-lg-5">
                    <img th:src="@{${tour.tourImage}}" alt="explore image">
                </div>
                <div class="col-lg-7">
                    <p class="tour-name" th:text="${tour.tourName}"></p>
                </div>
                <hr>

                <!--                <h2>Giá từ <span th:text="${numberFormat.format(tour.adultPrice)}"></span></h2>-->
                <div id="book">
                    <a href="">THANH TOÁN</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="/header-footer::footer"></div>
<footer th:replace="/header-footer::footer-libs"></footer>
</body>
</html>