<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="header-footer::header">
    <!-- meta data -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

</head>

<body>
<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.min.css'>

<div th:include="/header-footer::nav"></div>

<!--welcome-hero start -->
<section id="home" class="welcome-hero">
    <div class="container">
        <div class="welcome-hero-txt">
            <h2>best place to find and explore <br> that all you need </h2>
            <!--            <p>-->
            <!--                Find Best Place, Restaurant, Hotel, Real State and many more think in just One click-->
            <!--            </p>-->
        </div>
        <div class="welcome-hero-serch-box">
            <div class="welcome-hero-form">
                <div class="single-welcome-hero-form">
                    <h3>Điểm đến</h3>
                    <form action="index.html">
                        <input type="text"/>
                    </form>
                </div>
                <div class="welcome-hero-serch">
                    <button class="welcome-hero-btn" onclick="window.location.href='#'">
                        Tìm kiếm <i data-feather="search"></i>
                    </button>
                </div>
            </div>

        </div>
    </div>

</section><!--/.welcome-hero-->
<!--welcome-hero end -->

<!--list-topics start -->
<section id="list-topics" class="list-topics">
    <div class="container">
        <div class="list-topics-content">
            <ul>
                <li>
                    <div class="single-list-topics-content">
                        <div class="single-list-topics-icon">
                            <i class="flaticon-restaurant"></i>
                        </div>
                        <h2><a href="#">restaurant</a></h2>
                        <p>150 listings</p>
                    </div>
                </li>
                <li>
                    <div class="single-list-topics-content">
                        <div class="single-list-topics-icon">
                            <i class="flaticon-travel"></i>
                        </div>
                        <h2><a href="#">destination</a></h2>
                        <p>214 listings</p>
                    </div>
                </li>
                <li>
                    <div class="single-list-topics-content">
                        <div class="single-list-topics-icon">
                            <i class="flaticon-building"></i>
                        </div>
                        <h2><a href="#">hotels</a></h2>
                        <p>185 listings</p>
                    </div>
                </li>
                <li>
                    <div class="single-list-topics-content">
                        <div class="single-list-topics-icon">
                            <i class="flaticon-pills"></i>
                        </div>
                        <h2><a href="#">healthcare</a></h2>
                        <p>200 listings</p>
                    </div>
                </li>
                <li>
                    <div class="single-list-topics-content">
                        <div class="single-list-topics-icon">
                            <i class="flaticon-transport"></i>
                        </div>
                        <h2><a href="#">automotion</a></h2>
                        <p>120 listings</p>
                    </div>
                </li>
            </ul>
        </div>
    </div><!--/.container-->

</section><!--/.list-topics-->

<section id="explore" class="explore">
    <div class="container">
        <div class="section-header">
            <h2>tour</h2>
            <p>Explore New place, food, culture around the world and many more</p>
        </div><!--/.section-header-->
        <div class="explore-content">
            <div class="row">
                <th:block th:each="tour : ${tourList}">
                    <div class=" col-md-4 col-sm-6" th:unless="${tourList.isEmpty()}">
                        <a th:href="@{/tour/view/{id}(id=${tour.id})}">
                            <div id="tour" class="single-explore-item">

                                <!--                                image-->
                                <div class="single-explore-img">
                                    <th:block th:unless="${tour.imageUrls.isEmpty()}">
                                        <img th:src="@{${tour.imageUrls.get(0).getUrl()}}" alt="explore image">
                                    </th:block>

                                    <div class="single-explore-img-info">
                                        <button onclick="window.location.href='#'">đánh giá cao</button>
                                        <div class="single-explore-image-icon-box">
                                            <ul>
                                                <li>
                                                    <div class="single-explore-image-icon">
                                                        <i class="fa fa-arrows-alt"></i>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="single-explore-image-icon">
                                                        <i class="fa fa-bookmark-o"></i>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <!--                                Tour name -->
                                <div class="single-explore-txt bg-theme-1">
                                        <h2 style="height: 8rem" th:text="${tour.tourName}"></h2>


<!--                                    seats + price-->
                                    <p class="explore-rating-price">
                                        <th:block th:if="${tour.tourAvailableSeat} <= 10">
                                            <a>Số lượng còn trống: </a>
                                            <a style="color: red" th:text="${tour.tourAvailableSeat} + ' chỗ'"></a>
                                        </th:block>
                                        <th:block th:if="${tour.tourAvailableSeat} > 10">
                                            <a>Số lượng còn trống: </a>
                                            <a th:text="${tour.tourAvailableSeat} + ' chỗ'"></a>
                                        </th:block>
                                        <span class="explore-price-box">
											Giá từ
											<span class="explore-price"
                                                  th:text="${#numbers.formatInteger(tour.childPrice, 3, 'COMMA')} + ' VNĐ - ' + ${#numbers.formatInteger(tour.adultPrice, 3,'COMMA')} + ' VNĐ'"></span>
                                    </span>
                                    </p>
                                    <div class="explore-open-close-part">
                                        <div class="row">
                                            <div class="col-sm-5">
                                                <button class="close-btn open-btn" onclick="window.location.href='#'">
                                                    Đặt vé ngay
                                                </button>
                                            </div>
                                            <div class="col-sm-7">
                                                <!--                                                <div class="explore-map-icon">-->
                                                <!--                                                    <a href="#"><i data-feather="map-pin"></i></a>-->
                                                <!--                                                    <a href="#"><i data-feather="upload"></i></a>-->
                                                <!--                                                    <a href="#"><i data-feather="heart"></i></a>-->
                                                <!--                                                </div>-->
                                                <div class="explore-map-admin-icon">
                                                    <a th:href="@{/}"><i class='bx bxs-edit'></i></a>
                                                    <a th:href="@{/}"><i class='bx bx-message-square-x'></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </th:block>
            </div>
        </div>
    </div>
</section><!--/.explore-->
<!--explore end -->

<!--subscription strat -->
<section id="contact" class="subscription">
    <div class="container">
        <div class="subscribe-title text-center">
            <h2>
                do you want to add your business listing with us?
            </h2>
            <p>
                Listrace offer you to list your business with us and we very much able to promote your Business.
            </p>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="subscription-input-group">
                    <form action="#">
                        <input type="email" class="subscription-input-form" placeholder="Enter your email here">
                        <button class="appsLand-btn subscribe-btn" onclick="window.location.href='#'">
                            creat account
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</section><!--/subscription-->
<!--subscription end -->
<p id="mess" th:text="${mess}" ></p>
<button id="first" hidden>Click me</button>
<div th:replace="/header-footer::footer"></div>
<footer th:replace="/header-footer::footer-libs"></footer>
<!--<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.all.min.js"></script>-->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    (function doSth() {
        let str = document.getElementById("mess").textContent;
        // console.log(str);
        if (str) {
            showMess(str)
        }
    })();

    function showMess(str) {
        Swal.fire({
            title: "Good job!",
            text: str,
            icon: "success",
            width: "30%"
        })
    }

</script>
</body>

</html>