<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="header-footer::header">
    <!-- meta data -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

</head>
<style>
    .swal2-popup {
        font-size: 14px !important;
    }
</style>
<body>
<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.min.css'>

<div th:include="/header-footer::nav"></div>

<!--welcome-hero start -->
<section id="home" class="welcome-hero">
    <div class="container">
        <div class="welcome-hero-txt">
            <h2>Hãy cứ tận hưởng chuyến đi<br> Chúng tôi sẽ lo phần còn lại </h2>
        </div>

    </div>

</section><!--/.welcome-hero-->
<!--welcome-hero end -->

<!--list-topics start -->
<section id="list-topics" class="list-topics">
    <div class="container">
        <div class="list-topics-content">
            <ul>
                <li>
                    <div class="single-list-topics-content">
                        <div class="single-list-topics-icon">
                            <i class="flaticon-restaurant"></i>
                        </div>
                        <h2><a href="#">Nhà hàng</a></h2>
                        <p>150 listings</p>
                    </div>
                </li>
                <li>
                    <div class="single-list-topics-content">
                        <div class="single-list-topics-icon">
                            <i class="flaticon-travel"></i>
                        </div>
                        <h2><a href="#">Điểm đến</a></h2>
                        <p>214 listings</p>
                    </div>
                </li>
                <li>
                    <div class="single-list-topics-content">
                        <div class="single-list-topics-icon">
                            <i class="flaticon-building"></i>
                        </div>
                        <h2><a href="#">Khách sạn</a></h2>
                        <p>185 listings</p>
                    </div>
                </li>
                <li>
                    <div class="single-list-topics-content">
                        <div class="single-list-topics-icon">
                            <i class="flaticon-pills"></i>
                        </div>
                        <h2><a href="#">Chăm sóc sức khỏe</a></h2>
                        <p>200 listings</p>
                    </div>
                </li>
                <li>
                    <div class="single-list-topics-content">
                        <div class="single-list-topics-icon">
                            <i class="flaticon-transport"></i>
                        </div>
                        <h2><a href="#">Xe đưa đón</a></h2>
                        <p>120 listings</p>
                    </div>
                </li>
            </ul>
        </div>
    </div><!--/.container-->

</section><!--/.list-topics-->

<section id="explore" class="explore">
    <div class="container">
        <div class="welcome-hero-serch-box">
            <form th:action="@{/}" method="get" class="welcome-hero-form">

                <div class="single-welcome-hero-form">
                    <label for="startDate">Ngày khởi hành:</label>
                    <input type="date" name="startDate" id="startDate"/>
                </div>
                <div class="single-welcome-hero-form">
                    <label for="endDate">Ngày kết thúc:</label>
                    <input type="date" name="endDate" id="endDate"/>
                </div>
                <div class="single-welcome-hero-form">
                    <i class='bx bxs-map'></i> <label for="destination">Điểm đến: </label>
                    <input type="text" style="width: 150px;" name="name" id="destination"/>
                </div>
                <div class="welcome-hero-serch">
                    <button type="submit" style="position: relative;left: -210px" class="welcome-hero-btn">
                        Tìm kiếm <i data-feather="search"></i>
                    </button>
                </div>
            </form>
        </div>

        <div class="section-header" id="tour-page">
            <h2>Danh sách chuyến đi</h2>
        </div><!--/.section-header-->

        <div class="explore-content">
            <div class="row">
                <th:block th:each="tour : ${tourList}">
                    <div class=" col-md-4 col-sm-6" th:unless="${tourList.isEmpty()}">
                        <a th:href="@{/tour/view/{id}(id=${tour.id})}">

                            <div id="tour" class="single-explore-item">

                                <!--                                image-->
                                <div class="single-explore-img">
                                    <th:block th:unless="${tour.imageUrls.isEmpty()}">
                                        <img th:src="@{${tour.imageUrls.get(0).getUrl()}}" alt="explore image">
                                    </th:block>

                                    <div class="single-explore-img-info">
                                        <button onclick="window.location.href='#'">đánh giá cao</button>
                                        <div class="single-explore-image-icon-box">
                                            <ul>
                                                <li>
                                                    <div class="single-explore-image-icon">
                                                        <i class="fa fa-arrows-alt"></i>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="single-explore-image-icon">
                                                        <i class="fa fa-bookmark-o"></i>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <!--                                Tour name -->
                                <div class="single-explore-txt bg-theme-1">
                                    <h2 style="height: 8rem" th:text="${tour.tourName}"></h2>


                                    <!--                                    seats + price-->
                                    <p class="explore-rating-price">
                                        <th:block th:if="${tour.tourAvailableSeat} <= 10">
                                            <a>Số lượng còn trống: </a>
                                            <a style="color: red" th:text="${tour.tourAvailableSeat} + ' chỗ'"></a>
                                        </th:block>
                                        <th:block th:if="${tour.tourAvailableSeat} > 10">
                                            <a>Số lượng còn trống: </a>
                                            <a th:text="${tour.tourAvailableSeat} + ' chỗ'"></a>
                                        </th:block>
                                        <span class="explore-price-box">
         Giá từ
         <span class="explore-price"
               th:text="${#numbers.formatInteger(tour.childPrice, 3, 'COMMA')} + ' VNĐ - ' + ${#numbers.formatInteger(tour.adultPrice, 3,'COMMA')} + ' VNĐ'"></span>
                            </span>
                                    </p>
                                    <div class="explore-open-close-part">
                                        <div class="row">
                                            <div class="col-sm-5">
                                                <button class="close-btn open-btn" onclick="window.location.href='#'">
                                                    Đặt vé ngay
                                                </button>
                                            </div>
                                            <div class="col-sm-7">
                                                <!--                                                Chua dang nhap-->
                                                <div class="explore-map-icon" sec:authorize="!isAuthenticated()">
                                                    <a href="#"><i data-feather="map-pin"></i></a>
                                                    <a href="#"><i data-feather="upload"></i></a>
                                                    <a href="#"><i data-feather="heart"></i></a>
                                                </div>
                                                <!--
                                                                                             sua, xoa cua admin-->
                                                <th:block sec:authorize="isAuthenticated()"></th:block>
                                                <div class="explore-map-admin-icon" sec:authorize="hasRole('ADMIN')">
                                                    <a th:href="@{/tour/update/{id}(id=${tour.id})}">
                                                        <i class='bx bxs-edit'></i></a>
                                                    <a th:href="@{/}"><i class='bx bx-message-square-x'></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </th:block>
            </div>
        </div>
    </div>

    <div id="pagination" class="text-center" th:unless="${tourList.isEmpty()}">
        <a class="text-decoration-none text-dark" th:if="${tourList.hasPrevious()}"
           th:href="@{/(page=${tourList.number - 1})}"><i class='bx bx-left-arrow-alt'></i></a>
        <span th:text="${tourList.number + 1}"></span>
        <a class="text-decoration-none text-dark" th:if="${tourList.hasNext()}"
           th:href="@{/(page=${tourList.number + 1})}"><i class='bx bx-right-arrow-alt'></i></a>
    </div>
</section><!--/.explore-->
<!--explore end -->

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="/tour/delete">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Xác nhận xóa chuyến đi</h4>
                </div>
                <div class="modal-body">
                    Bạn có chắc muốn xóa chuyến đi <span id="nameDel" class="text-danger"></span>
                    <input type="hidden" id="idDel" name="idDel">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                    <button type="submit" class="btn btn-primary">Xóa</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--subscription strat -->
<section id="contact" class="subscription">
    <div class="container">
        <div class="subscribe-title text-center">
            <h2>
                Bạn muốn biết nhiều thông tin hơn ?
            </h2>
            <p>
                Hãy để lại số điện thoại chúng tôi sẽ liên hệ trực tiếp
            </p>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="subscription-input-group">
                    <form action="#">
                        <input type="email" class="subscription-input-form" placeholder="Nhập số điện thoại vào đây">
                        <button class="appsLand-btn subscribe-btn" onclick="window.location.href='#'">
                            Gửi
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</section><!--/subscription-->
<!--subscription end -->
<p id="mess" style="display: none" th:text="${mess}"></p>
<p id="error" style="display: none" th:text="${error}"></p>
<button id="first" hidden>Click me</button>
<div th:replace="/header-footer::footer"></div>
<footer th:replace="/header-footer::footer-libs"></footer>
<!--<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.all.min.js"></script>-->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>


    (function doSth() {
        let str = document.getElementById("mess").textContent;
        let action = "success"
        document.getElementById("mess").innerText = "";
        if (str) {
            showMess(action, str)
        }
    })();
    (function doSth2() {
        let str = document.getElementById("error").textContent;
        document.getElementById("error").innerText = "";
        let action = "error"
        if (str) {
            showMess(action, str)
        }
    })();

    function showMess(action, str) {
        let noti;
        if (action === "success") {
            noti = "Thành công";
        }
        if (action === "error") {
            noti = "Cẩn thận";
        }
        Swal.fire({
            title: noti,
            text: str,
            icon: action,
            width: "40%"
        })
    }

    function sendInf(id, tourName) {
        document.getElementById("nameDel").innerText = tourName;
        document.getElementById("idDel").value = id;
    }

</script>
</body>

</html>