<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="header-footer::header">
    <!-- meta data -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

</head>

<body>
<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.min.css'>

<div th:include="/header-footer::nav"></div>


<div class="container" style="background-color: #e0e5e9">
<!--    <button type="button" class="btn btn-primary" style="margin: 10px">-->
<!--        <a th:href="@{/account/navigation}" style="color: white">Quay lại</a>-->
<!--    </button>-->
    <div style="display: flex;align-items: center" class="inner row">
        <div class="col-lg-5">
            <div class="image-holder">
                <img src="/images/hlb.jpg" alt="">
            </div>
        </div>
        <div class="col-lg-7">

            <div>
                <h3 style="margin-top: 20px; margin-bottom: 20px; text-align: center">Cập nhật mật khẩu</h3>
            </div>
            <form th:action="@{/account/password}" th:object="${passwordDto}" method="post">

                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Nhập mật khẩu cũ</label>
                    <input type="password" class="form-control" id="exampleInputPassword" name="oldPassword"
                           th:field="*{oldPassword}" required>
                    <p th:if="${#fields.hasErrors('oldPassword')}"
                       th:errors="*{oldPassword}" style="color: red">Name error</p>
                    <p th:text="${messageOld}" style="color: red"></p>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Nhập mật khẩu mới</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" name="newPassword"
                           th:field="*{newPassword}" required>
                    <p th:if="${#fields.hasErrors('confirmPassword')}"
                       th:errors="*{newPassword}" style="color: red">Name error</p>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Nhập lại mật khẩu mới</label>
                    <input type="password" class="form-control" id="exampleInputPassword2" name="confirmPassword"
                           th:field="*{confirmPassword}" required>
                    <p th:if="${#fields.hasErrors('confirmPassword')}"
                       th:errors="*{confirmPassword}" style="color: red">Name error</p>
                </div>
                <div class="container">
                    <button type="submit" class="btn btn-primary" style="margin: 10px;">Cập nhật</button>
                </div>

            </form>
        </div>
    </div>
</div>

<div th:replace="/header-footer::footer"></div>
<footer th:replace="/header-footer::footer-libs"></footer>
</body>
</html>